/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2014, 9:52:13 AM
    Author     : adewale
*/
.form fieldset{
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
 -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
   margin-bottom: 20px !important;
}
.formMargin{
    margin-bottom: 20px !important;
}

.console {
    background: #292f34;
    color: white;
    font-size: 1.0em;
    text-align: center;
}

li {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

#touchevents .list li:not(.anchor) {
    padding: 64px 8px;
}

#scroll h1 {
    line-height: 44px;
    background: black;
    color: white;
    text-indent: 10px;
}

#scroll img {
    min-width: 256px;
    min-height: 128px;
    background: #333;
}
#scroll .anchor img {
    width: 100%;
    margin-bottom: 4px;
}
#scroll .horizontal img {
    height: 100%;
    margin-right: 4px;
}
.reg_pg2{padding-left: 20px;text-transform: capitalize;}

#summary_table,.summary_table{margin:20px 0px;display: table;font-size:12px }
#summary_table td, .summary_table td{

    padding:10px;
    margin-bottom:5px;


}
#summary_table tbody tr:nth-child(odd) ,.summary_table tbody tr:nth-child(odd)  {
    background-color: #fff;
}
#summary_table tbody tr:nth-child(even) , .summary_table tbody tr:nth-child(even) {
    //background-color: #E8EDFF;
}
#summary_table td:not(:first-child) , .summary_table td:not(:first-child){
    width: 55%;
}




/*.customerPhoto,.customerMandate{
    width: 75px;
    margin-bottom: 10px;
    height: 75px;
     margin:0 auto; 
    border:1px dashed lightblue;
    float: left;
}*/

/*
.under
{
        position:absolute;
    left:0px;
    top:0px;
    z-index: - 1;
}
.over
{
        position:absolute;
    left:0px;
    top:10px;
    z-index: - 1;
    color:#b9b9b9 !important;
    font-size: 7.5em !important;
    line-height: 1em !important;
}
.transparent {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.camera-transform{
    color: #ffffff !important;
    font-size: 3.5em !important;
    left:45px !important;
    top:45px !important;
        position:absolute;
    line-height: 1em !important;
    z-index: - 1;

}*/

/*#image {
     the image you want to 'watermark' 
    height:150px;  or whatever, equal to the image you want 'watermarked' 
    width: 150px;  as above 
    background-image: url(path/to/image/to/be/watermarked.png);
    
    background-repeat: no-repeat;
    position: relative;
    font-size: 3.5em !important;
    background-position: 0 0;
    
    padding-top: 40px;
    color: gray !important;

}

#image img {
     the actual 'watermark' 
    position: absolute;
    top: 0;  or whatever 
    left: 0;  or whatever, position according to taste 
    z-index: -1;
    width:150px;
    height: 150px
}
#take_photo_n {width: 165px;border: 1px dashed lightblue;padding: 5px}

.icon.camera-retro:before {opacity: 0.5;}*/
.home-menu{
    width: 50%;
    float: left;
}
.home-menu span{
    font-size:  7em !important;
    color: #009ecc !important;
}

.small-icon {
    font-size: 2em !important;
}
.datePlaceHolder{
    color:#009ECC !important;
    border-bottom: 2px solid lightblue !important;
    display:block !important;
    float:left !important;
    width:100% !important;
    text-align:left !important;
    font-weight:600 !important;
    font-size:1em !important;
}
.cPhoto_outer{
    border:1px solid lightblue;
    width:100px;
    height:100px;
    float:left; 
    margin-right:5px;
    margin-bottom:50px;
    background-color:#ffffff;
}
.cPhoto_outer img{
    width:99.5px;
    height:99.5px;
}

.copyright{
    color: #8b8b8b;
    -webkit-text-shadow: 0 1px 0 #fefefe;
    -moz-text-shadow: 0 1px 0 #fefefe;
    -ms-text-shadow: 0 1px 0 #fefefe;
    -o-text-shadow: 0 1px 0 #fefefe;
    text-shadow: 0 1px 0 #fefefe;
    font-size: small;
	display: block;
    width: 100%;
    padding-top: 20px;
}
.rounded {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

#acOpen_frm_2 .validation01
{ 
    background: red;
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    right: -160px;
    text-align: center;
    top: 0;
    width: 150px;
    outline: 0;

    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#acOpen_frm_2 input:focus + .validation01 							{ display: block; }

#acOpen_frm_2 input:focus:required:invalid + .validation01 .valid,
#acOpen_frm_2 input.error:focus + .validation01 .valid,
#acOpen_frm_2 input.required:focus + .validation01 .valid,
#acOpen_frm_2 input:focus + .validation01 .valid					{ display: none; }

#acOpen_frm_2 input:focus:required:valid + .validation01,
#acOpen_frm_2 input.valid:focus + .validation01					{ background: green; }

#acOpen_frm_2 input:focus:required:valid + .validation01 .invalid,
#acOpen_frm_2 input.valid:focus + .validation01 .invalid			{ display: none; }

#acOpen_frm_2 input:focus:required:valid + .validation01 .valid,
#acOpen_frm_2 input.valid:focus + .validation01 .valid				{ display: block; }


#acOpen_frm_1 input::-webkit-input-placeholder,
#acOpen_frm_1 input:-moz-placeholder {
    color: #A6A6A6;
}

#acOpen_frm_1 .validation01
{ 
    background: red;
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0;
    width: 150px;
    outline: 0;

    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#acOpen_frm_1 input:focus + .validation01 { display: block; }

#acOpen_frm_1 input:focus:required:invalid + .validation01 .valid,
#acOpen_frm_1 input.error:focus + .validation01 .valid,
#acOpen_frm_1 input.required:focus + .validation01 .valid,
#acOpen_frm_1 input:focus + .validation01 .valid { display: none; }

#acOpen_frm_1 input:focus:required:valid + .validation01,
#acOpen_frm_1 input.valid:focus + .validation01 { background: green; }

#acOpen_frm_1 input:focus:required:valid + .validation01 .invalid,
#acOpen_frm_1 input.valid:focus + .validation01 .invalid { display: none; }

#acOpen_frm_1 input:focus:required:valid + .validation01 .valid,
#acOpen_frm_1 input.valid:focus + .validation01 .valid { display: block; }

#acOpen_frm_1 fieldset input:required:valid
{ 
    background-color: #fff;
    background-position: 379px -61px;
}

/* Enhanced error styling */
#acOpen_frm_1 input.error
{
    background-color: pink; 
    background-position: 379px 3px;
    outline: none; 
}
#acOpen_frm_1 input.required
{
    background-color: #fff; 
    background-position: 379px -29px;
}
#acOpen_frm_1 input.valid 
{ 
    background-color: #fff;
    background-position: 379px 0px;
}

#acOpen_frm_1 input.error::-webkit-input-placeholder,
#acOpen_frm_1 inputerror :-moz-placeholder {
    color: #fff;
}

.logoHolder{
    background: #ffffff;
    /* border: 1px solid #87CEFA; */
    border-collapse: collapse;
    border-radius: 50% / 0 60%;
    color: #000000;
    display: block;
    font-weight: bolder;
    height: 80px;
    line-height: 50%;
    margin: 100px auto 0;
    text-align: center;
    text-decoration: none;
    width: 100px;
}