<aside id="features" data-transition="left">
    <header data-title="Menu" id="mySideBarTitle">
        
    </header>

    <article class="list scroll active">
        <ul>
            <li data-view-section="square-menu" data-icon="home">
                <strong>Home</strong>
            </li>
            <li data-view-section="form" data-icon="user">
                <strong>General Messaging</strong>
            </li>
            <li data-action="show-group-messaging" data-icon="group">
                <strong>Group Messaging</strong>
            </li>
            <li data-view-section="transfer-sms" data-icon="exchange">
                <strong>Transfer SMS Units</strong>
            </li>
            <li data-view-section="recharge" data-icon="credit-card">
                <strong>Recharge</strong>
            </li>
            <li data-action="bal-enq" data-icon="money">
                <strong>Balance Enquiry</strong>
            </li>
            <li data-view-section="login" data-icon="signout">
                <strong>Sign out</strong>
            </li>
        </ul>
    </article>
</aside>
