<section id="form" data-transition="fade" data-aside="features" class="drag">
    <header data-title="General Messaging">
        <nav>
            <a href="#" data-view-aside="features" data-icon="menu"></a>
        </nav>
        <nav class="on-right">
            <a href="#" data-view-section="square-menu" data-icon="home"></a>
        </nav>
    </header>

    <article id="form-normal" class="scroll active">
        <div class="empty">
            <div class="form">
                <form id="acOpen_frm_1">
                    <fieldset style="width:100%">
                        <textarea placeholder="Message recipients. (Please separate using commas or space)" id="genMsg_recipients" ></textarea>
                    </fieldset>
                    <fieldset style="width:100%">
                        <textarea placeholder="Message" id="genMsg_msg"  onkeydown="Count(this,'genMsg_msgCounter');" onkeyup="Count(this,'genMsg_msgCounter');"></textarea>
                        <input type="text" id="genMsg_msgCounter" readonly="" value="0/1" style="text-align: right"/>
                    </fieldset>
                    <fieldset >
                        <input maxlength="11"  type="text" placeholder="Sender's ID (No Special characters [e.g. &,!,@,#,$,%,*] )" id="genMsg_senderID"   />
                    </fieldset>
                    <button type="button" data-icon="trash" data-label="" class="anchor"  style="width:20%;float: left;margin-right: 5%" ></button>
                    <button data-label="Next" class="anchor"  style="width:75%;float: left" data-action="goto-form-pg2"></button>
                </form>
            </div>
            <p class="copyright">&copy;2014 SMSTOPUPNG</p>
        </div>
    </article>
</section>

<section id="form_pg2" data-transition="fade"  data-aside="features" class="drag">
    <header data-title="Summary">
        <nav>
            <a href="#" data-view-aside="features" data-icon="menu"></a>
        </nav>
        <nav class="on-right">
            <button data-icon="icon chevron-left" data-view-section="form"></button>
        </nav>
    </header>
    <article id="second_1">
        <div class="empty">
            <table id="genMsg_summary" width="100%" class="summary_table">
                <tr>
                    <td width="40%">MESSAGE:</td>
                    <td><span id="genMsg_summary_msg"  ></span></td>
                </tr>
                <tr>
                    <td width="40%">TOTAL RECIPIENTS:</td>
                    <td><span id="genMsg_summary_recipientCount"  ></span></td>
                </tr>
                <tr>
                    <td width="40%">MESSAGE PAGE(S):</td>
                    <td><span id="genMsg_summary_msg_count"  ></span></td>
                </tr>
                <tr>
                    <td>SENDER ID:</td>
                    <td><span id="genMsg_summary_SenderID"  ></span>  </td>
                </tr>
                <tr>
                    <td>ESTIMATED COST:</td>
                    <td><span id="genMsg_summary_cost"  ></span>  </td>
                </tr>
                
            </table>
            <button data-label="Send" class="anchor" data-action="send-gen-msg" ></button>
            <p class="copyright">&copy;2014 SMSTOPUPNG</p>
        </div>


    </article>
</section>




