<section id="grp-messaging" data-transition="fade" class="drag" data-aside='features'>
    <header data-title="Group Messaging">
        <nav>
            <a href="#" data-view-aside="features" data-icon="menu"></a>
        </nav>

        <nav class="on-right">
            <a href="#" data-view-section="square-menu" data-icon="home"></a>
        </nav>
    </header>

    <article id="grp-msg-holder" class="scroll active">
        <div class="empty">
            <div class="form">
                <fieldset style="width:100%" id="fetched_groups">
                    <label style="display:block;">No groups available</label>
                    </fieldset>
                    <fieldset style="width:100%">
                        <textarea placeholder="Message" id="grpMsg_msg"  onkeydown="Count(this,'grpMsg_msgCounter');" onkeyup="Count(this,'grpMsg_msgCounter');"></textarea>
                        <input type="text" id="grpMsg_msgCounter" readonly="" value="0/1" style="text-align: right"/>
                    </fieldset>
                    <fieldset >
                        <input maxlength="11"  type="text" placeholder="Sender's ID (No Special characters [e.g. &,!,@,#,$,%,*] )" id="grpMsg_senderID" class="reg_pg1"  />
                        <input type="hidden" id="grpMsg_recipient_hiddden" />
                    </fieldset>
                    <button type="button" data-icon="trash" data-label="" class="anchor" data-view-section="square-menu" style="width:20%;float: left;margin-right: 5%" ></button>
                    <button data-label="Next" class="anchor"  style="width:75%;float: left" data-action="goto-grp-msg-pg2"></button>
            </div>
            <p class="copyright">&copy;2014 SMSTOPUPNG</p>
        </div>
    </article>
</section>


<section id="grp-messaging-summary" data-transition="fade"  data-aside="features" class="drag">
    <header data-title="Summary">
        <nav>
            <a href="#" data-view-aside="features" data-icon="menu"></a>
        </nav>
        <nav class="on-right">
            <button data-icon="icon chevron-left" data-view-section="grp-messaging"></button>
        </nav>
    </header>
    <article id="grp-msg-summary-holder">
        <div class="empty">
            <table id="grpMsg_summary" width="100%" class="summary_table">
                <tr>
                    <td width="40%">MESSAGE:</td>
                    <td><span id="grpMsg_summary_msg"  ></span></td>
                </tr>
                <tr>
                    <td width="40%">TOTAL RECIPIENTS:</td>
                    <td><span id="grpMsg_summary_recipientCount"  ></span></td>
                </tr>
                <tr>
                    <td width="40%">MESSAGE PAGE(S):</td>
                    <td><span id="grpMsg_summary_msg_count"  ></span></td>
                </tr>
                <tr>
                    <td>SENDER ID:</td>
                    <td><span id="grpMsg_summary_SenderID"  ></span>  </td>
                </tr>
                <tr>
                    <td>ESTIMATED COST:</td>
                    <td><span id="grpMsg_summary_cost"  ></span>  </td>
                </tr>
                
            </table>
            <button data-label="Send" class="anchor" data-action="send-grp-msg" ></button>
            <p class="copyright">&copy;2014 SMSTOPUPNG</p>
        </div>


    </article>
</section>