<section id="square-menu" data-transition="fade" class="drag" data-aside='features'>
    <header data-title="Welcome" id="homemenuheader">
        <nav>
            <a href="#" data-view-aside="features" data-icon="menu"></a>
        </nav>
        <nav class="on-right">
            <button data-icon="icon signout" data-view-section='login'></button>
        </nav>
    </header>
    <article id="square-menu-items">
        <div class="empty">
            <div class='home-menu'>
                <a href='#' data-view-section='form'><span class="icon user"></span> <!--<span class="icon plus" style="font-size: 2em !important"></span>-->
                    <p>General Messaging</p>
                </a>
            </div>
            <div class='home-menu'>
                <a href='#' data-view-section='grp-messaging' data-action="show-group-messaging" ><span class="icon group"></span>
                    <p>Group Messaging</p>
                </a>
            </div>
            <div class='home-menu'>
                <a href='#' data-view-section='transfer-sms'><span class="icon exchange" data-action='show-transfer-sms'></span>
                    <p>Transfer SMS Units</p></a>
            </div>
            <div class='home-menu'>
                <a href='#' data-view-section='recharge'><span class="icon credit-card"></span>
                    <p>Recharge</p></a>
            </div>


            <p class="copyright">&copy;2014 SMSTOPUPNG</p>
        </div>


    </article>
</section>
