<section id="recharge" data-transition="fade"  data-aside="features" class="drag">
    <header data-title="TopUp Recharge">
        <nav>
            <a href="#" data-view-aside="features" data-icon="menu"></a>
        </nav>
        
        <nav class="on-right">
            <a href="#" data-view-section="square-menu" data-icon="home"></a>
        </nav>
    </header>

    <article id="recharge-holder" class="scroll active">
        <div class="empty">
            <div class="form">
                <fieldset>
                    <input type="number" placeholder="TopUp Pin" id="recharge_pincode"/>
                </fieldset>
<!--<button data-label="Pin Balance" class="anchor" style="width:45%;float: left;margin-right: 5%"></button>--><!--style="width:45%;float: left;margin-right: 5%"-->
                <button data-label="Recharge" class="anchor" data-action="send-recharge-req"></button>
            </div>
            <p class="copyright">&copy;2014 SMSTOPUPNG</p>
        </div>
    </article>
</section>