<section id="transfer-sms" data-transition="fade" data-aside='features' class="drag">
    <header data-title="Transfer SMS Units">
        <nav>
            <a href="#" data-view-aside="features" data-icon="menu"></a>
        </nav>
        <nav class="on-right">
            <a href="#" data-view-section="square-menu" data-icon="home"></a>
        </nav>
    </header>

    <article id="transfer-sms-holder" class="scroll active">
        <div class="empty">
            <div class="form">
                <fieldset>
                    <input type="email" placeholder="Recipient Email" id="trnsf_email" />
                </fieldset>
                <fieldset>
                    <input type="number" placeholder="Amount" id="trnsf_amount" />
                </fieldset>
                <button data-label="Next" class="anchor" data-action="goto-transfer-pg2"></button>
            </div>
            <p class="copyright">&copy;2014 SMSTOPUPNG</p>
        </div>
    </article>
</section>

<section id="transfer-sms-summary" data-transition="fade" data-aside='features' class="drag">
    <header data-title="Transfer SMS Units">
        <nav>
            <a href="#" data-view-aside="features" data-icon="menu"></a>
        </nav>
        <nav class="on-right">
            <a href="#" data-view-section="transfer-sms" data-icon="icon chevron-left" ></a>
        </nav>
    </header>

    <article id="transfer-sms-summary-holder" class="scroll active">
        <div class="empty">
            <table id="trnf_summary" width="100%" class="summary_table">
                <tr>
                    <td width="40%">RECIPIENT:</td>
                    <td width="60%"><span id="trnf_summary_recipient"  ></span></td>
                </tr>
                <tr>
                    <td width="40%">AMOUNT:</td>
                    <td><span id="trnf_summary_amount"  ></span></td>
                </tr>
                
            </table>
            <button data-label="Transfer" class="anchor" data-action="send-transfer-req"></button>
            <p class="copyright">&copy;2014 SMSTOPUPNG</p>
        </div>
    </article>
</section>